@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,600,700);

object[type^=application/gas-events-uni] { display: none; }

body {
	font-family: "Open Sans", sans-serif;
	overflow: hidden;
}

img {
	max-width: 100%;
}

h1, h2, h3 {
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

p {
	font-family: 'Open-Sans', sans-serif;
}

/* PRELOADER STYLES */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:9999; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/loader-sevira.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center 120px;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
#status > img {
	top: 7em;
}

/* FINISH PRELOADER STYLES */



.video-primeira {
	height: 660px;
	background-color: #D03641;
}

.header1 {
	display: inline-block;
}

.texto1 {
	width: 75%;
	padding: 40px;
	font-size: 15px;
	font-weight: 400;
}

.botao1 {
	background-color: #358B8D;
	border-radius: 0px;
	font-weight: 700;
	font-size: 21px;
	color: #fff;
	float: right;
	padding: 10px 40px;
	margin-top: 30px;
}

.botao1-2 {
	background-color: #358B8D;
	border-radius: 0px;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	font-size: 21px;
	color: #fff;
	padding: 10px 40px;
	margin-top: 30px;
}

.navbar-sevira {
	background-color: #000;
}

.logo-bar {
	padding: 0px !important;
	margin-right: 30px;
}

.logo-bar > img {
	height: 120px;
	width: auto;
}

.logo-collapsed > img {
	position: absolute;
	height: 50px
}

.navbar-sevira > div > nav > div > div > ul > li > a {
	padding: 50px 30px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	height: 120px;
	font-family: "Lato", sans-serif;
	z-index: 5;
}

.navbar-sevira > div > nav > div > div > ul > li > a:hover {
	color: #000;
}

.navbar-sevira > div > nav > div > div > ul > li.ativo {
	background-color: #358B8D;
}

.banner-home {
	margin-top: 30px;
}

.carousel > ol,
.carousel > .caroulsel-inner,
.carousel > .carousel-inner > .item,
.carousel > .carousel-inner > .item > .carousel-caption,
.carousel > a {
	color: #FF3333 !important;
}

.carousel > .carousel-indicators > li{
	border-color: #FF3333 !important;
}

.carousel > .carousel-indicators > li.active{
	background-color: #FF3333 !important;
}

/*.carousel-caption {
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;

}
*/
.secao-home {
	text-transform: uppercase;
	font-weight: 900;
	font-family: "Lato", sans-serif;
	margin: 30px 0px -10px 0px;
	padding: 5px;
	border-bottom: solid 2px #999;
}

.margem-topo {
	margin-top: 30px;
}

.listagem-home {
	margin-top: 30px;
	padding-left: 0;
}

.sidebar-trampos {
	padding-left: 0;
}

.footer {
	margin-top: 20px;
	background-color: #000;
	color: #fff;
	padding: 25px;
	border-top: solid 5px #358B8D;
	bottom: 0px;
	width: 100%;
	z-index: 1 !important;
}

ul > li > ul, ul > ul {
	padding-left: 20px;
}

.menu-footer ul {
	list-style: none;
}

.menu-footer ul ul {
	list-style: none;
	font-size: 11px;
}

.menu-footer a {
	color: #fff;
	text-decoration: none;
}

.social-footer > a, .social-footer > i {
	font-size: 40px;
	margin-left: 30px;
	float: right;
	color: #fff;
}

.copyright {
	margin-top: 40px;
	float: right;
	font-family: 'Open-Sans', sans-serif;
}

.imagem-time {
	margin-top: 20px;
}

.nome-time {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700
}

.social-time a {
	font-size: 30px;
	color: #000;
	margin-left: 10px;
}

.texto-time {
	font-size: 12px;
}

.fale-conosco {
	background-color: #45c17f;
	padding-bottom: 20px;
	margin-bottom: -20px;
}

.fale-conosco p {
	padding-right: 70px;
	margin-top: 40px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
}

form.contato {
}

form.contato > input {
	font-family: 'Open-Sans', sans-serif;
	color: #666;
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
	border: none;
}

form.contato#form-contato > input:nth-child(1) {
	margin-top: 60px;
}

form > #mensagem {
	font-family: 'Open-Sans', sans-serif;
	color: #666;
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	min-height: 200px;
	border: none;
}

form > #enviar, #enviar-pergunta {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #215758;
	float:right;
	width: 30%;
	border: none;
}

.background-menu-profissoes {
	background-color: #358B8D;
	border-top: 8px solid #fff;
	z-index: 100;
}

.hidden-xs.background-menu-profissoes {
	position: relative;
}

.menu-profissoes {
	width: 100%;
	z-index: 100;
}

#menu-profissoes {
	display: none;
}

.menu-profissoes > li {
	font-family: 'Open-Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	width: 16.66%;
}

.menu-profissoes > li > a {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.menu-profissoes > li > a:hover {
	color: #000;
}

.fundo {
	min-height: 350px;
	padding: 30px;
	z-index: 5;
}

.fundo > .container > .row > div > img {
	position: absolute;
	z-index: 1;
	margin-top: -200px;
	float: right;
	margin-right: 20%;

}

.fundo.publicidade > .container > .row > div > img {
	margin-right: 10%;

}

.fundo.arquitetura {
	background-image: url("../img/fundo-arquitetura.png");
}

.fundo.audiovisual {
	background-image: url("../img/fundo-audiovisual.png");
}

.fundo.moda {
	background-image: url("../img/fundo-moda.png");
}

.fundo.design {
	background-image: url("../img/fundo-design.png");
}

.fundo.publicidade {
	background-image: url("../img/fundo-publicidade.png");
}

.fundo.fotografia {
	background-image: url("../img/fundo-fotografia.png");
}


div.videos {
	position: relative;
	z-index: 10 !important;
	background-color: #FF3333;
	padding: 20px 0;
	border-bottom: 7px solid #222;
}

.slider-videos {
	z-index: 10 !important;
}

.slider-videos > li {
	z-index: 10 !important;
}

#fotografia > div.container-flex.videos {
	border-bottom: none;
}

.videos > div > div > div > h1 {
	margin: 10px 0 20px;
	color: #fff;
	font-weight: 800;
}

.entrevista {
	background-color: #000;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 50px;
	color: #DADADA;
	font-family: 'Open-Sans', sans-serif;
}

.video-entrevista {
	width: 100%;
	height: 40em;
	background-color: #fff;
}

.entrevista > .row > div > p {
	color: #DADADA;
	margin-top: 20px;
}

.entrevista > .row > div > h1 {
	color: #DADADA;
}

ul.perguntas {
	list-style: none;
	padding-left: 0;
	display: inline-block;
	width: 100%;
}

ul.perguntas > li {
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	border: solid 1px #dedede;
}

ul.perguntas > li > p {
	margin-left: 30px;
}

ul.perguntas > li > .fa {
	color: #D50000;
	position: absolute;
	margin-top: 3px;
}

ul.perguntas > li > .fa.respondida {
	color: #008040;
}

ul.perguntas > li > h3 {
	margin-left: 30px;
	font-size: 14px;
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 0;
}

.entrevista > .row > div > h3 {
	background-color: #D50000;
	padding: 10px;
	border-radius: 3px;
}

#pergunta {
	width: 100%;
	height: 150px;
	padding: 20px;
	color: #333;
}

#enviar-pergunta {
	min-height: 50px;
}

.sidebar-dicas > .social-time {
	margin-bottom: 30px;
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
	color: #222;
	font-size: 14px;
	margin: 5px;
	width: 30px;
	height: 30px;
	padding: 2px;
	/*background: #d6d6d6;*/
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.owl-theme .owl-controls, owl-controls .owl-dots {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-item {
	border: 2px solid #ECD19B;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
}
.bghistoria {
	background-image: url(../img/fundo-suahistoria.jpg);
}

form.suahistoria > input, form.suahistoria > textarea {
	background-color: #409997;
	color: #fff !important;
	border: none;
}

.texto-suahistoria {
	background-color: #fff;
	font-family: 'Open-Sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
	padding: 15px 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.placeholder-time {
	position: relative;
	width: 18.7em;
	height: 18.7em;
	border-radius: 10px;
	background-size: cover;
	margin-right: auto;
	margin-left: auto;
}

.imagem-time.alexandre > div.placeholder-time {
	background-image: url("../img/alexandre1.png");	
}

.imagem-time.alexandre > div.placeholder-time:hover {
	background-image: url("../img/alexandre2.png");	
}

.imagem-time.bianca > div.placeholder-time {
	background-image: url("../img/bianca1.png");	
}

.imagem-time.bianca > div.placeholder-time:hover {
	background-image: url("../img/bianca2.png");	
}

.imagem-time.lucas > div.placeholder-time {
	background-image: url("../img/lucas1.png");	
}

.imagem-time.lucas > div.placeholder-time:hover {
	background-image: url("../img/lucas2.png");	
}

.imagem-time.jimmy > div.placeholder-time {
	background-image: url("../img/jimmy1.png");	
}

.imagem-time.jimmy > div.placeholder-time:hover {
	background-image: url("../img/jimmy2.png");	
}

.hide{
display: none;
transition-duration: 1s;
transition-timing-function: ease-in-out;
}

.show{
display: block;
transition-duration: 1s;
transition-timing-function: ease-in-out;
}

.grid figcaption {
	background-color: #191F32 !important;
}

.grid figcaption a {
background: #FF3333 !important;
}

.grid figcaption span {
	color: #FF3333 !important;
}


/* Scroll up */
#scrollup {
	z-index: 10;
	width: 48px;
	height: 48px;
	background: url(../img/backtop.png) 0 0 no-repeat;
	text-indent: -9999px;
	display: none;
	position: fixed;
	bottom: 48px;
	right: 48px;
}

@media screen and (max-width: 960px) {
	.fundo > .container > .row > div > img {
	margin-top: 0px;
	}
}

@media handheld, screen and (max-width: 768px) {
	.no-touch .cs-style-3 figure img,
	.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
	}

	body > div.container-fluid.footer > div > div.col-xs-12.col-md-3.menu-footer > ul {
		margin-top: -10px;
	}
	
	.no-touch .cs-style-3 figure figcaption,
	.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
	}

	.sidebar-trampos {
	padding-left: 15px;
	}

	.fundo > .container > .row > div > img {
	margin-top: 0px;
	}
}

